{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Nowy Lokal</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
        }
        .page-section{
            padding: 4rem 0;
        }

    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div style="background:linear-gradient(135deg, rgb(52, 125, 181) 0%, rgb(10, 67, 120) 100%); padding-top: 10rem;">
        <div class = "container2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin: 0 auto; max-width:50%;margin-bottom:20px;">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
            <h1 class="text-center mb-5 shadow-text" style="color:white;">Formularz dodawania nowego lokalu</h1>
            <div class="form-container">
                <h2>Dodawanie Kwater</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.id_for_label == 'id_images' %}
                                <label>Zdjęcia lokalu</label>
                            {% else %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% endif %}
                            {% if field.label == "Cechy/Atuty" %}{{field.help_text}}{% endif %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" name="add_appartment">Dodaj lokal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}