{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Administracja</title>{% endblock%}
{% block stylings %}

{% endblock %}
{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Tu będzie strona dla adminów</h1>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Będzie tutaj forma m.in. do wypełniania która po otrzymaniu informacji i zdjęć automatycznie będzie
                        dodawać nowe lokalizacje/mieszkania ( a przynajmniej mam nadzieje że dam rade xd)
                    </p>

                </div>

            </div>
        </div>
    </header>

{% endblock %}