{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Administracja</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
        }
        .page-section{
            padding: 4rem 0;
        }

    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div style="background: linear-gradient(135deg, rgb(31, 93, 140) 0%, rgb(5, 62, 115) 100%); padding-top: 10rem;">
        <div class = "container2">
            <h1 class="text-center mb-5 shadow-text" style="color:white;">Panel administracji</h1>
            <div class="mb-5">
                <h6 class="mb-2 shadow-text" style="color:white;">Formularz dodawania nowego lokalu</h6>
                <a class="btn btn-primary btn-xl" href="dodaj_lokal">Przejdź</a>
            </div>
            <div class="mb-5">
                <h6 class="mb-2 shadow-text" style="color:white;">Formularz zmiany liczb w licznikach</h6>
                <a class="btn btn-primary btn-xl" href="liczniki">Przejdź</a>
            </div>
        </div>
    </div>

{% endblock %}