{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Title block -->
        {% block title %}
        {% endblock %}

        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

        <!-- rest of the imports -->
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!--HTMX load-->
        <script src="{% static 'js/htmx.min.js' %}"></script>
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
        
        <style type="text/css">
            .footer-contact{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-bottom:10px;
            }

            .language-selector[open] > .dropdown-menu {
                display: block !important;
                transform: none;            /* cancel any transform on open */
                visibility: visible;        /* in case Bootstrap uses visibility */
                }
            
            @media screen 
            and (max-width:912px){
                .footer-contact{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom:10px;
                    margin: 5px 25%;
                }
            }

            .p_light_weight{
                
            }    

            @media screen 
            and (min-width:992px){
            .nav-item{
                margin: 0 30px;
            }
            #mainNav .navbar-nav .nav-item .nav-link{
                font-size: 1.1rem;
            }
        }
        </style>

        <!-- Additional page specific stylings space-->
        {% block stylings %}
        {% endblock %}


    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 {% block navbar_class %}{% endblock %}" id="mainNav">
            <div class="container px-4 px-lg-5">
                <div class="navbar-brand"><a href="/"><img style="height:80px;" src="{% static 'images/logo_navbar.png' %}" alt=""/></a></div>
                <a class="navbar-brand" href="/">{% trans "Strona Główna" %}</a>
                <button class="navbar-toggler navbar-toggler-right" 
                    type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarResponsive" 
                    aria-controls="navbarResponsive" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <!-- add href later -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Nieruchomości" %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if appartments %}
                                    {% for city in cities_list %}
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" >{{ city }}</a>
                                            <ul class="dropdown-menu">
                                                {% for appartment in appartments %}
                                                    {% if city == appartment.city %}
                                                    {% comment %} enter later appartment id as href {% endcomment %}
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'appartments' appartment_pk=appartment.pk %}">
                                                                {{appartment.address}}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li><a class="dropdown-item" href="#">{% trans "Brak dostępnych lokalizacji" %}</a></li>
                                {% endif %}
                            </ul>
                        </li>


                        <li class="nav-item"><a class="nav-link" href='/galeria'>{% trans "Galeria" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href='/kontakt'>{% trans "Kontakt" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href='/administracja'>Admin</a></li>
                        {% if user.is_authenticated %}<li class="nav-item"><a class="nav-link" href="/logout">Wyloguj</a></li>{% endif %}
                        <li class="nav-item dropdown">
                            <form action="{% url 'set_language' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <details class="language-selector">
                                    <summary class="nav-link" style="cursor:pointer; display:flex; align-items: center;">
                                    {% comment %} <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% endcomment %}
                                        {% if request.LANGUAGE_CODE == 'pl' %}
                                            <img src="{% static 'images/pl.png' %}" alt="PL" width="20" class="me-1"> Polski
                                        {% else %}
                                            <img src="{% static 'images/us.png' %}" alt="EN" width="20" class="me-1"> English
                                        {% endif %}
                                    {% comment %} </a> {% endcomment %}
                                    </summary>
                                    <ul class="dropdown-menu dropdown-menu-end" style="margin:0; padding:0; list-style:none;">
                                        <li>
                                        <button
                                            type="submit"
                                            name="language"
                                            value="pl"
                                            class="dropdown-item"
                                            {% if request.LANGUAGE_CODE == 'pl' %}disabled aria-current="true"{% endif %}
                                        >
                                            <img src="{% static 'images/pl.png' %}" alt="PL" width="20" class="me-1"> Polski
                                        </button>
                                        </li>
                                        <li>
                                        <button
                                            type="submit"
                                            name="language"
                                            value="en"
                                            class="dropdown-item"
                                            {% if request.LANGUAGE_CODE == 'en' %}disabled aria-current="true"{% endif %}
                                        >
                                            <img src="{% static 'images/us.png' %}" alt="EN" width="20" class="me-1"> English
                                        </button>
                                        </li>
                                    </ul>
                                    {% comment %} <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                        <li>
                                            <a class="dropdown-item" href="/i18n/setlang/?language=pl&next={{ request.get_full_path|urlencode }}">
                                                <img src="{% static 'images/pl.png' %}" alt="PL" width="20" class="me-1"> Polski
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/i18n/setlang/?language=en&next={{ request.get_full_path|urlencode }}">
                                                <img src="{% static 'images/us.png' %}" alt="EN" width="20" class="me-1"> English
                                            </a>
                                        </li>
                                    </ul> {% endcomment %}
                                </details>
                            </form>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page Content -->
        {% block content%}
        {% endblock %}

        <!-- Footer -->
        <footer class="bg-light py-5">
            <div class="footer-contact p_light_weight" style='color:#6c757d; font-family:"Inter";'>
                <p style="margin: 10px 10px;"><img src='{% static "images/map_icon.png" %}' style="height:24px; margin-right:10px;"> al. Tadeusza Rejtana 53A/103, 35-326 Rzeszów</p>
                <p style="margin: 10px 10px;"><img src='{% static "images/email_icon.png" %}' style="height:24px; margin-right:10px;"> kontakt@twojlokator.pl</p>
                <p style="margin: 10px 10px;"><img src='{% static "images/phone_icon.png" %}' style="height:24px; margin-right:10px;"> +48 662 524 932 | +48 576 211 761</p>
            </div>
            <div class= "container px-4 px-lg-5 p_light_weight"><div class="text-center text-muted" style='font-size:calc(0.875em * 0.75); font-family:"SEGOE UI";'>Copyright &copy; {{ current_year }} - WB Lokator Sp. z o.o.</div></div>
        </footer>
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/dropdowns.js' %}"></script>

        <!-- Load cookie script-->
        <script src="{% static 'js/cookie_consent.js' %}"></script>
    
        <!-- Additional Scripts -->
        {% block scripts %}
        {% endblock %}

        <!-- Cookie Consent Modal -->
        <div class="modal fade" id="cookieConsentModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Ta strona wykorzystuje pliki cookies" %}</h5>
            </div>
            <div class="modal-body">
                <p>
                {% trans "Używamy niezbędnych plików cookie, aby ta strona działała. Za Twoją zgodą możemy również używać nieistotnych plików cookie, aby poprawić komfort użytkowania." %}
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" id="rejectCookies">
                {% trans "Odrzuć opcjonalne" %}
                </button>
                <button class="btn btn-primary" id="acceptCookies">
                {% trans "Akceptuj wszystkie" %}
                </button>
            </div>
            </div>
        </div>
        </div>
    </body>
</html>