{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}<title>{% trans "Kontakt" %}</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 4px 4px 2px rgba(14, 14, 14, 0.1);
        }
        .shadow-text2{
            text-shadow: 4px 4px 2px rgba(7, 95, 146, 0.8);
        }
        .shadow-text3{
            text-shadow: 4px 4px 2px rgba(5, 62, 115, 0.8);
        }
        .page-section{
            padding: 4rem 0;
        }
        .form-group{
            margin: 15px auto;
            }
        .form-container{
            margin: 0 auto;
            max-width: 75%;
        }
        @media (max-width:500px){
            .g-recaptcha{
                transform: scale(0.6);
                transform-origin: 0 0;
            }
        }
        @media (max-width:655px)
        and (min-width:501px){
            .g-recaptcha{
                transform: scale(0.9);
                transform-origin: 0 0;
            }
        }
        @media (max-width:999px){
            .form-group{
                max-width: 75%;
            }
        }

        @media (min-width:1000px){
            .form-group{
                max-width: 50%;
            }
        }


    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block navbar_class %}navbar-shrink{% endblock %}
{% block content %}
<div style="background:white; padding-top: 10rem;">
    <div class = "container2">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin: 0 auto; max-width:50%;margin-bottom:20px;">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="form-container" style='font-family:"SEGOE UI"; color:black;'>
            <div>
                <h1 class="mb-4 shadow-text text-center"><b>{% trans "Kontakt" %}</b></h1>
                <hr style="color:rgba(189,156,79,255); border-top: 3px solid;">
                <div style="padding: 0px 25%;">
                    <p class="shadow-text">
                        <img src='{% static "images/map_icon.png" %}' style="height:32px; margin-right:10px;"> al. Tadeusza Rejtana 53A/103, 35-326 Rzeszów
                    </p>
                    <p class="shadow-text">
                        <img src='{% static "images/email_icon.png" %}' style="height:32px; margin-right:10px;"> kontakt@twojlokator.pl
                    </p>
                    <p class="shadow-text">
                        <img src='{% static "images/phone_icon.png" %}' style="height:32px; margin-right:10px;"> +48 662 524 932 | +48 576 211 761
                    </p>
                </div>
            </div>
            <hr style="color:rgba(189,156,79,255); border-top: 3px solid;">
            <h2 class="mb-4 shadow-text text-center" style="color:black;"><b>{% trans "Formularz kontaktowy" %}</b></h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.label != form.captcha.label %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field.help_text }}
                        {{ field }}
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endif %} 
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-primary" style="color:black;" type="submit">{% trans "Wyślij" %}</button>
                </div>
                <p class="text-muted" style="text-align:justify;font-size:calc(0.875em * 0.75);">
                    {% trans "Administratorem Państwa danych osobowych jest WB Lokator Sp. z o.o. z siedzibą w Rzeszowie, al. Tadeusza Rejtana 53A/103, 35-326 Rzeszów, wpisana do rejestru przedsiębiorców Krajowego Rejestru Sądowego przez Sąd Rejonowy w Rzeszowie, XII Wydział Gospodarczy KRS pod numerem KRS: 0001038275, NIP: 6842671330, REGON: 525409151, o kapitale zakładowym w wysokości 20 000,00 zł. Dane osobowe przetwarzamy w celu świadczenia usług zakwaterowania oraz realizacji obowiązków wynikających z zawartych umów." %}
                </p>
            </form>
        </div>
    </div>
</div>


{% endblock %}