{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Kontakt</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
        }
        .page-section{
            padding: 4rem 0;
        }
        header.masthead {
            padding-top: 10rem;
            padding-bottom: calc(10rem - 4.5rem);
            background:linear-gradient(135deg, rgb(52, 125, 181) 0%, rgb(10, 67, 120) 100%);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
          }
        .masthead{
            /*background-image: url({% static 'images/bedroom_image.jpg'%});*/
            background-size: cover;
            background-position: center;
            height: 100vh;
        }

    </style>
{% endblock %}
{% block content %}
    <section class="page-section" style="background:linear-gradient(135deg, rgb(52, 125, 181) 0%, rgb(10, 67, 120) 100%);">
        <div class = "container">
            <div class ="text-center mt-5">
                <p class="text-white-75 mb-5">Tu będzie formularz kontaktowy</p>
            </div>
        </div>
    </section>


{% endblock %}