{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Kontakt</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.4);
        }
        .shadow-text2{
            text-shadow: 4px 4px 2px rgba(7, 95, 146, 0.8);
        }
        .shadow-text3{
            text-shadow: 4px 4px 2px rgba(5, 62, 115, 0.8);
        }
        .page-section{
            padding: 4rem 0;
        }
        .form-group{
            margin: 15px auto;
            }
            .form-container{
                margin: 0 auto;
                max-width: 75%;
            }
            @media (max-width:999px){
                .form-group{
                    max-width: 75%;
                }
            }
    
            @media (min-width:1000px){
                .form-group{
                    max-width: 50%;
                }
            }


    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div style="background:linear-gradient(135deg, rgb(52, 125, 181) 0%, rgb(10, 67, 120) 100%); padding-top: 10rem;">
    <div class = "container2">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin: 0 auto; max-width:50%;margin-bottom:20px;">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="form-container" style="font-family:'Merriweather';">
            <div>
                <h1 class="mb-4 shadow-text2 text-center" style="color: white;"><b>Kontakt</b></h1>
                <hr style="color:rgba(189,156,79,255); border-top: 3px solid;">
                <div style="padding: 0px 25%;">
                    <p class="shadow-text3">
                        <img src='{% static "images/map_icon.png" %}' style="height:32px; margin-right:10px;"> ul. Krakowska 216A, 38-400 Krosno
                    </p>
                    <p class="shadow-text3">
                        <img src='{% static "images/email_icon.png" %}' style="height:32px; margin-right:10px;"> kontakt@kklocator.com
                    </p>
                    <p class="shadow-text3">
                        <img src='{% static "images/phone_icon.png" %}' style="height:32px; margin-right:10px;"> +48 662 524 932 | +48 576 211 761
                    </p>
                </div>
            </div>
            <hr style="color:rgba(189,156,79,255); border-top: 3px solid;">
            <h2 class="mb-4 shadow-text2 text-center" style="color:white;"><b>Formularz kontaktowy</b></h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.label != form.captcha.label %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field.help_text }}
                        {{ field }}
                    </div>
                {% else %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endif %} 
                {% endfor %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}