{% load static %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' enctype="multipart/form-data" class="modal-content" style="background:linear-gradient(135deg, rgb(31, 93, 140) 0%, rgb(5, 62, 115) 100%);">
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-error">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div class="modal-header">
      <h4 class="modal-title" style="color:blue;">Edytuj Lokal</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    {% for field in form %}
        <div class="modal-body">
        {% if field.label == "Cechy/Atuty" %}
          <div class="mb-3" style="display:flex;flex-direction:column;margin:0px auto;width: 100%;max-width:100%;">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{field.help_text}}
            {{ field }}
            <div class="invalid-feedback">{{ form.users.errors|first }}</div>
          </div>
        {% else %}
          <div class="mb-3" style="display:flex;flex-direction:column;margin:0px auto;width: 50vw;max-width:300px;">
            {% if field.id_for_label == 'id_images' %}
                <label>Zdjęcia lokalu</label>
            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% endif %}
            {{ field }}
            <div class="invalid-feedback">{{ form.users.errors|first }}</div>
          </div>
        {% endif %}
        
      {% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Anuluj
      </button>
      <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>

</form>
