{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}<title>Login</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 4px 4px 2px rgba(14, 14, 14, 0.1);
        }
        .page-section{
            padding: 4rem 0;
        }
        .form-group{
        margin: 15px auto;
        }
        .form-container{
            margin: 0 auto;
            max-width: 75%;
        }
        @media (max-width:999px){
            .form-group{
                max-width: 75%;
            }
        }

        @media (min-width:1000px){
            .form-group{
                max-width: 50%;
            }
        }
    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block navbar_class %}navbar-shrink{% endblock %}
{% block content %}
    <div style="background:white; padding-top: 10rem;">
        <div class = "container2" style='color:black;font-family:"SEGOE UI"'>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin: 0 auto; max-width:50%;margin-bottom:20px;">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-container">
                <h2 class="text-center shadow-text" style="margin-bottom:20px;color:black;">Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button class="btn btn-primary" style="margin-bottom:20px; color:black;" type="submit" name="add_appartment">Zaloguj</button>
                        <div class="text-center mb-5" style="font-size:0.85rem;">{% trans "Nie masz konta? Rejestracje dla administracji znajdziesz" %} <a href="/rejestracja">{% trans "tutaj." %}</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}