{% extends "core/base.html" %}
{% load static %}

{% block title %}<title>Rejestracja</title>{% endblock%}
{% block stylings %}
    <style type="text/css">
        .shadow-text{
            text-shadow: 4px 4px 2px rgba(14, 14, 14, 0.1);
        }
        .page-section{
            padding: 4rem 0;
        }
        li{
            font-size:0.75rem;
        }
        .form-group{
            margin: 15px auto;
            }
            .form-container{
                margin: 0 auto;
                max-width: 75%;
            }
            @media (max-width:999px){
                .form-group{
                    max-width: 75%;
                }
            }
    
            @media (min-width:1000px){
                .form-group{
                    max-width: 50%;
                }
            }
    </style>
    <link href="{% static 'css/form_styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/gallery_styles.css'%}" rel="stylesheet" />
{% endblock %}
{% block navbar_class %}navbar-shrink{% endblock %}
{% block content %}
    <div style="background:white; padding-top: 10rem;">
        <div class = "container2" style='color:black;font-family:"SEGOE UI";'>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" style="margin: 0 auto; max-width:50%;margin-bottom:20px;">
                        {{ message }}
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-container">
                <h2 class="text-center shadow-text" style="color:black;margin-bottom:20px;">Rejestracja</h2>
                <form method="post">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-warning" style="margin: 0 auto; max-width:50%;margin-bottom:10px;">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                    {% for field in form %}
                            {% if field != form.non_field_errors %}
                                <div class="form-group">
                                    {{ field.label }}
                                    {{ field.help_text }}
                                    {{ field }}
                                </div>
                            {% endif %}
                        {% endfor %}  
                    
                    <div class="form-group">
                        <button class="btn btn-primary" style="color:black;" type="submit" name="add_appartment">Zarejestruj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}